@inherits LayoutComponentBase

<div class="navbar">
    <i class="far fa-hand-spock"></i>
    <a href="Rezistory">Rezistory</a>
    <a href="Exercise">Procvičování</a>
    <a href="About"> <i class="fas fa-info-circle"></i> Trimestrální Projekt</a>
</div>

<div class="body">
    @Body
</div>
